.filter-link{
  margin-right: 10px;
}

.filter-link-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-complete{
  text-decoration: line-through;
}

.item-incomplete{
  text-decoration: none; 
}
